@model List<BrandModel>
@{
    ViewData["Title"] = "modelos de veículos";
}

<div class="text-center">

    <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <a class="btn btn-primary" asp-controller="Brands" asp-action="Create" role="button">Adicionar nova marca de veículo</a>
    </div>

    <br />

    @if (TempData["MensagemSucesso"] != null)
    {
        <div class="alert alert-success" role="alert">
            <button type="button" class="btn btn-danger btn-sm close-alert" data-bs-dismiss="alert" aria-label="Close">X</button>
            @TempData["MensagemSucesso"]
        </div>
    }

    @if (TempData["MensagemErro"] != null)
    {
        <div class="alert alert-danger" role="alert">
            <button type="button" class="btn btn-danger btn-sm close-alert" data-bs-dismiss="alert" aria-label="Close">X</button>
            @TempData["MensagemErro"]
        </div>
    }

    <br />

    <h1 class="display-4">modelos de veículos</h1>

    <table id="table-vehicles-brands" class="display" style="width:100%">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Marca</th>
                <th scope="col">Nacional</th>
                <th scope="col">Status</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.Any())
            {
                foreach (var brand in Model)
                {
                    <tr>
                        <th scope="row">@brand.Id</th>
                        <td>@brand.Name</td>
                        <td>@brand.National</td>
                        <td>@brand.Active</td>
                        <td>
                            <div class="btn-group" role="group">
                                <a role="button" asp-action="Edit" asp-controller="Brands" asp-route-id="@brand.Id" class="btn btn-primary">Editar</a>
                                <a role="button" asp-action="DeleteConfirmation" asp-controller="Brands" asp-route-id="@brand.Id" class="btn btn-danger">Apagar</a>
                            </div>
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr class="odd"><td valign="top" colspan="5">Nenhuma marca encontrada</td></tr>
            }
        </tbody>
    </table>

</div>
